#Navigation {
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* justify-content: space-evenly; */
	/* align-content: center; */
	/* height: 67.5vh; */
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.icon-container h2 {
	background-color: transparent;
}
.icon-container {
	/* display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
	margin: 28px;
	width: 200px;
	height: 200px;
	border-radius: 20%;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.1s ease-in;
	box-shadow: 0 0 3em rgba(255, 255, 255, 0.2); /* Maybe use box-shadow*/
}
.icon-container:focus,
.icon-container:hover {
	/* transition: 0.2s ease-in-out; */
	box-shadow: 0 0 3em rgba(255, 255, 255, 0.6); /* Maybe use box-shadow*/
}
.icon-container h3 {
	display: flex;
	align-self: center;
}
.icon {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	background-color: #ececec;
	height: 100%;
	width: 100%;
}
/*** Envelope Icon ***/
.envelope {
	background-color: #3267d5;
	width: 150px;
	height: 90px;
	margin: 0 auto 20px auto;
	border-top: 2px solid #ececec;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-self: center;
	justify-content: center;
}
.envelope .envelope-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 135px 85px 0;
	border-color: transparent transparent #2ab6f6 transparent;
	position: absolute;
	left: 0;
	bottom: 0;
}
.envelope .envelope-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 85px 135px;
	border-color: transparent transparent #81d2f9 transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}
.envelope-top {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 75px 55px 75px;
	border-color: transparent transparent #2a55c5 transparent;
	position: absolute;
	top: 15px;
	left: 25px;
	animation: flip 6s linear infinite;
	perspective: 500px;
	transform-origin: 100% 100%;
}
.envelope:before {
	position: absolute;
	content: "To: Henry";
	text-align: center;
	top: 25px;
	color: black;
	width: 100%;
	height: 60%;
	background: #fff;
	border-radius: 10%;
	animation: up 6s linear infinite;
	outline: 2px solid #2a55c5;
	outline-offset: -22px;
}
@keyframes up {
	0%,
	60% {
		top: 15px;
	}
	60%,
	100% {
		top: 5px;
	}
}
/*** Envelope Animation ***/
@keyframes flip {
	0%,
	60% {
		transform: rotate3d(1, 0, 0, 180deg);
	}
	60%,
	100% {
		transform: rotate3d(1, 0, 0, 0deg);
	}
}
/*** Portfolio Icon***/
.portfolio {
	align-self: center;
	width: 45px;
	height: 75px;
	border-radius: 50px;
	top: 15px;
	position: absolute;
	left: 78px;
}
.portfolio.orange {
	background-color: rgba(243, 156, 18, 0.7);
	z-index: 1;
}
.portfolio.yellow {
	background-color: rgba(241, 196, 15, 0.7);
	transform-origin: 55% 100%;
	transform: rotate(45deg);
}
.portfolio.green {
	background-color: rgba(46, 204, 113, 0.7);
	transform-origin: 55% 105%;
	transform: rotate(90deg);
}
.portfolio.lightBlue {
	background-color: rgba(27, 188, 155, 0.7);
	transform-origin: 52.5% 105%;
	transform: rotate(135deg);
}
.portfolio.blue {
	background-color: rgba(65, 131, 215, 0.7);
	transform-origin: 50% 105%;
	transform: rotate(180deg);
}
.portfolio.purple {
	background-color: rgba(102, 51, 153, 0.7);
	transform-origin: 47.5% 105%;
	transform: rotate(225deg);
}
.portfolio.violet {
	background-color: rgba(155, 89, 182, 0.7);
	transform-origin: 45% 105%;
	transform: rotate(270deg);
}
.portfolio.red {
	background-color: rgba(242, 38, 19, 0.7);
	transform-origin: 45% 102.5%;
	transform: rotate(315deg);
}
/*** FindMe Icon ***/
.firstRing {
	display: flex;
	width: 160px;
	height: 160px;
	background-color: #2f883e;
	border-radius: 50%;
	border: 6px solid black;
	align-self: center;
	overflow: hidden;
}
.secondRing {
	display: flex;
	justify-content: center;
	width: calc(100%);
	height: calc(100%);
	background: transparent;
	border: 3px solid #44ff4e;
	border-radius: 50%;
	overflow: hidden;
}
.thirdRing {
	display: flex;
	justify-content: center;
	align-self: center;
	width: calc(70%);
	height: calc(70%);
	background-color: transparent;
	border: 3px solid #44ff4e;
	border-radius: 50%;
}
.fourthRing {
	width: calc(40%);
	height: calc(40%);
	display: flex;
	align-self: center;
	background: transparent;
	border: 3px solid #44ff4e;
	border-radius: 50%;
	position: relative;
}
.scan {
	width: 85px;
	height: 85px;
	position: absolute;
	top: 15px;
	left: 15px;
	overflow: hidden;
	background: linear-gradient(0deg, #44ff4e, #44ff4e 10%, transparent);
	animation: rotate 3s linear infinite;
	transform-origin: 0% 0%;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.linkedin {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #124da7;
	height: 100%;
	width: 100%;
	font-size: 11em;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	letter-spacing: -1px;
	border-radius: 20%;
	padding: 2px 6px;
	user-select: none;
}
.me {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.me img {
	display: flex;
	align-self: center;
	border-radius: 1rem;
	height: 80%;
	width: 80%;
}
.twitter {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	border: none;
	/* border-radius: 15%; */
	font-size: 0.8em;
	background-color: #4aa5f0;
}
.twitter:before {
	content: "";
	display: flex;
	align-self: center;
	height: 5.125em;
	margin-left: 5em;
	width: 5.125em;
	margin-top: -5.125em;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 1.1em -6.05em 0 1.85em #4aa5f0, 1.2em -3.12em 0 -0.15em #fff,
		1.975em -5.35em 0 1.84em #4aa5f0, 1.5em -2.2em 0 -0.125em #fff,
		-2.1em -6.7em 0 4.75em #4aa5f0, -5.5em -0.8em 0 0.07em #fff,
		-7.2em -1.35em 0 0.07em #4aa5f0, -5.5em 1em 0 0.07em #fff,
		-6.8em 1.1em 0 0.07em #4aa5f0, -4.7em 2.8em 0 0.07em #fff,
		-8.3em 1.175em 0 2.775em #4aa5f0, -8.275em -6.575em 0 2.775em #fff,
		-4.75em 0.35em 0 4.75em #fff;
}

.twitter:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.4) 5%,
		rgba(255, 255, 255, 0) 80%
	);
}

/* &:hover {
      box-shadow: 0 0 3.5em rgba(0, 0, 0, 0.7);

      &::after {
        background-image: linear-gradient(0deg,
          rgba(0, 0, 0, 0.5) 5%,
          rgba(0, 0, 0, 0.1) 80%);
      }
    }

    &:active {
      box-shadow: 0 0 3.5em rgba(0, 0, 0, 0.7);

      &::after {
        background-image: linear-gradient(180deg,
          rgba(0, 0, 0, 0.1) 5%,
          rgba(0, 0, 0, 0.2) 80%);
      }
    }

    &:focus {
      outline: none;
      border: 5px solid darken($colour, 10%);
    }
  } */

@media only screen and (max-width: 799px) {
	.envelope-top {
		top: 19px;
	}
	.twitter {
		font-size: 0.9em;
	}
	.linkedin {
		font-size: 14em;
	}
}

/* testing */
#dock-container {
	display: flex;
	justify-content: center;
	/* position: relative;
    bottom: 0; */
	text-align: center;
	right: 20%;
	left: 20%;
	width: 60%;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px 10px 0 0;
}
#dock-container li {
	list-style-type: none;
	display: inline-block;
	position: relative;
}
.tIn-enter {
	opacity: 0;
	transform: scale(1.1);
}
.tIn-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}
.tIn-exit {
	opacity: 1;
	transform: scale(1);
}
.tIn-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
