* {
	padding: 0;
	margin: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--fw-reg: 300;
	--fw-bold: 500;

	--ff-reg: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	--ff-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.23rem;
	--fs-body: 1rem;
	--fs-btn: 1rem;

	--clr-light: #fff;
	--clr-dark: #000;
	--clr-accent: rgba(44, 192, 7, 1);
}
@media (min-width: 700px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		/* --fs-h3: 1.5rem; */
		--fs-body: 1.125rem;
		--fs-btn: 3rem;
	}
}
body {
	/* background-color: var(--clr-dark); */
	background-image: url("./images/micro_carbon.png");
	color: var(--clr-light);
	font-size: var(--fs-body);
	font-family: var(--ff-reg);
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	display: block;
	max-width: 100%;
}
code {
	font-family: var(--ff-code);
}
h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}
h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
button {
	font-size: var(--fs-btn);
}
/* Flex classes and properties */
.flex {
	display: flex;
}
.flex-jc-start {
	justify-content: flex-start;
}
.flex-jc-center {
	justify-content: center;
}
.flex-jc-end {
	justify-content: flex-end;
}
.flex-jc-se {
	justify-content: space-evenly;
}
.flex-ac-start {
	align-content: flex-start;
}
.flex-ac-center {
	align-content: center;
}
.flex-ac-end {
	align-content: flex-end;
}
.flex-wrap {
	flex-wrap: wrap;
}
